
/* top of page */
header h1 {
    padding-top: 75px;
}

body {
    text-align: center;
}
#time-display{
    float:right;
}

#view-display {
    float:left;
}

/* buttons */
.button-style {
    list-style: none;
    background-color:#0000cc;
    color:#e6ffe6;
    border-radius: 7px;
    width: 175px; 
    border: none;
    padding: 5px;
    margin: 10px;
}

.button-style:active{
    background-color: #cc00ff;

}

.button-style:hover {
    background-color:#cc00ff;
}

/* starting page */

#quiz-title p {
    font-size: 20px;
}

#view-display {
    text-decoration: none;
    color:#0000cc;
}

/* questions */

.question-section {
padding-top: 200px;
}

.question-div {
    padding-bottom: 50px;
    font-size: 30px;
}

section ol {
list-style: none;
}

/* bottom of page */

.final-section {
    display: none;
}

#result-section {
    font-size: 25px;
    padding-top:125px;
}
 #result-title {
     font-size: 35px;
     font-weight:bold;
 }

 .highscore-page {
    display: none;
 }


